html {
    scroll-behavior: smooth;
}

.banner {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}
.banner_content {
    max-width: 1000px;
    margin: auto;
}
.banner_content_txt {
    font-size: 24px;
    margin-bottom: 20px;
}
.banner_nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.banner_btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.banner_btn:hover {
    background: #0056b3;
}

a {
    color: #0077FF;
    text-decoration: none;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bio {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
}
.bio:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bio {
    display: flex; /* Align image and text horizontally */
    align-items: center; /* Center vertically */
}

.bio .content_pic{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 10px;
}
.bio .content_pic img{
    /* object-fit: none; */
    margin: -100px 0 0 -200px; /*[top] [right] [bottom] [left];*/
}
.bio .content_pic:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.bio .content_pic .content_pic_caption_bg {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.2);
}
.bio .content_pic .content_pic_caption {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 50px;
    right: 0;
    background: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.2);
}
  
.bio .content_pic:hover .content_pic_caption_bg {
    visibility: visible;
    opacity: 0.5;
}
.bio .content_pic:hover .content_pic_caption {
    visibility: visible;
    opacity: 1;
}
.bio .content_txt {
    flex: 1; /* Ensure the paragraph takes up remaining space */
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    text-align: justify;
}
.bio .content_txt h3 {
    margin: 0 0 0px; /* Adds spacing below the title */
    font-size: 24px;
}

.exp {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
    text-align: justify;
}
.exp:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.exp h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.exp .exp1 {
    display: flex;
    align-items: flex-start;
    margin: 0 0 10px 0;
}
/* .exp .exp1_date {
    display: inline-block;
    min-width: 160px;
}
*/
.exp .exp1_job {
    margin: 0 0 0 10px; /*[top] [right] [bottom] [left];*/
}

.other {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
    text-align: justify;
}
.other:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.other h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
/* .other a {
    color: #0077FF;
    text-decoration: none;
    font-weight: bold;
} */
.other ul {
    padding-inline-start: 20px;
}
.other ol {
    padding-inline-start: 20px;
}
